body {
  font-family: 'Montserrat', sans-serif;
}

.social-block {
  color: #fff;
}

.centered {
  text-align: center;
}

.list-container {
  width: 100%;
  height: calc(100vh - 56px);
  overflow: auto;
  white-space: nowrap;
}

.list {
  display: inline-block;
  width: 90vw;
  max-width: 420px;
  border: 1px solid gray;
  margin: 20px;
}

.newListBtn {
  display: inline-block;
  width: 400px;
  margin: 20px;
}

.deleteListForm {
  display: inline-block;
}

.cardText {
  padding-right: 15px;
  text-align: center;
}

.borderFont {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.backgroundImage {
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
}

.boardHeader form {
  display: inline-block;
  padding: 15px;
}

.listScroll {
  max-height: calc(100vh - 246px);
  overflow-x: auto;
}

.card-header p {
  margin: auto 0 auto 10%;
}

.profilePicture {
  border-radius: 40%;
  max-height: 25px;
}

.boardTitle {
  font-family: 'Indie Flower', cursive;
  padding: 15px 15px 15px 10%;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.listScroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.listScroll::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.listScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: slategrey;
}

.list-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.list-container::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.list-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: slategrey;
}